footer {
    text-align: center;
}

.btn{
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
}


.input{
    width: 80px;
}
th{
    font-size: 0.9rem;
}

td{
    font-size: .8rem;
}
.pagination-buttons{
    margin-top: 10px;
    padding-left: 8px;
    width: 250px;
}
.selector{
    padding-bottom: 2px;
    width: 120px
    /* min-width: 50px;
    max-width: min-content; */
}

